<header class="p-2 bg-secondary bg-gradient text-white">
  <div class="container">
    <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <%= Time.now.year %> | Maksim Korelskii ©
        </li>
      </ul>
    </nav>
  </div>
</header>
