- provide :page_title, 'Cemeteries'
- currently_at('Cemeteries')

h1 class="mb-4" Cemeteries

- if policy(:cemetery).new?
  = link_to "New cemetery", new_cemetery_path, class: 'btn btn-primary btn-sm mb-3'

= pagination @pagy

== render @cemeteries

= pagination @pagy
