- provide :page_title, t('menu.cemeteries')
- currently_at(t('menu.cemeteries'))

h1 class="mb-4" 
  = t('.title')

- if policy(:cemetery).new?
  = link_to t('.new'), new_cemetery_path, class: 'btn btn-primary btn-sm mb-3'

= pagination @pagy

== render @cemeteries

= pagination @pagy
