- provide :page_title, 'New cemetery'
- currently_at('Cemeteries')

h1 New cemetery

== render "form", cemetery: @cemetery

br

div
  = link_to "Back to cemeteries", cemeteries_path, class: 'btn btn-primary'
