- provide :page_title, t('cemeteries.index.new')
- currently_at t('cemeteries.index.new')

h1 
  = t('cemeteries.index.new')

== render "form", cemetery: @cemetery

div
  = link_to t('global.back'), cemeteries_path, class: 'btn btn-primary mt-2'
